.shopping-cart {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: green;
  }
  
  .shopping-cart h2 {
    background-color: transparent;
    margin-top: 2em;
  }
  
  .cart-items {
    background-color: aquamarine;
    width: 80%;
    margin-top: 2em;
    display: flex;
  }
  
  .product-total {
    width: 100%;
    height: 60vh;
    background-color: aqua;
  }
  
  .product-total-title {
    display: flex;
    justify-content: space-between;
  }
  
  .product-total-title p {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
  }
  
  .product-desc {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1em;
    background-color: yellow;
  }
  
  .cart-img {
    width: 20%;
    height: 35%;
    background-color: red;
  }
  
  .cart-img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  /* .cart-item-name {
    width: 45%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-name p {
    background-color: transparent;
    font-weight: bold;
    font-size: 25px;
  } */
  
  .cart-price-button {
    width: 30%;
    height: 35%;
    display: flex;
  }
  
  .product-prices p {
    background-color: transparent;
    font-weight: bold;
    font-size: 25px;
  }
  
  .cart-table {
    width: 100%;
    height: 100%;
    margin-top: 1em;
  }
  
  .table-header {
    height: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 1px solid black;
  }
  .table-header h4 {
    font-size: 20px;
  }
  
  
  
  .table-items {
    height: 9rem;
  }
  
  .table-items-col {
    width: 55%;
    height: 9rem;
  }
  
  .table-items-desc {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .cart-image {
    width: 35%;
    height: 100%;
  }
  
  .cart-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .cart-item-name {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-name p {
    font-weight: bold;
    font-size: 25px;
  }
  
  .button-col {
    width: 30%;
  }
  
  .price-col {
    width: 15%;
  }
  
  .product-prices {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  